.game__controls
    img
        transform: scale(.4)
        position: absolute
        top: 1%
        right: 1%
.btn
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    i
        width: 10rem
        border: solid white .6rem
        padding: 1rem
        font-size: 3rem
        display: flex
        justify-content: center
        align-items: center
        margin: 1rem
//MESSAGE
.game__start
    background-color: white
    background-size: cover
    width: 100vw
    height: 100vh
    top: 0%
    left: 0%
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    z-index: 3
    button
        font-weight: 700
        padding: 1rem 5rem
        font-size: 4rem
        background-color: transparent
//STATUS//
.disabled
    opacity: 30%
    cursor: none
    pointer-events: none
    transition: .2s
.displayNone
    display: none
.showMessage
    background-color: white
    background-size: cover
    width: 100vw
    height: 100vh
    position: absolute
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    z-index: 3
    font-size: 5rem
    opacity: 100%
    button
        margin-top: 3rem
        font-size: 5rem
        background-color: transparent
.hideSide
    opacity: .2
    pointer-events: none
    touch-action: none
.hide
    opacity: 0
    cursor: none
    pointer-events: none
    transition: .2s
