@font-face
	font-family: 'Open-Sans'
	src: url("/assets/fonts/OpenSans-Regular.ttf") format("truetype")
	// src: url("/assets/fonts/....eot"),
	// src: local("O"), url("/assets/fonts/...woff") format("woff"), 
	// 		url("/assets/fonts/....svg") format("svg")
	font-display: swap
	font-weight: normal
	font-style: normal
